cms_photo_image/soap_login_image_batch_ejpl.wsdl

<?xml version='1.0' encoding='UTF-8'?>

<!-- WSDL file generated by Zend Studio. -->

<definitions name="soap_login_image_batch_ejpl" targetNamespace="urn:soap_login_image_batch_ejpl" xmlns:typens="urn:soap_login_image_batch_ejpl" xmlns:xsd="https://www.w3.org/2001/XMLSchema" xmlns:soap="https://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="https://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="https://schemas.xmlsoap.org/wsdl/" xmlns="https://schemas.xmlsoap.org/wsdl/" xmlns:typens0="https://x.hankyu-travel.com/photo_db/soap_login_image_batch_ejpl.php">
	<message name="Chk_num">
		<part name="num"/>
	</message>
	<message name="Chk_numResponse">
		<part name="Chk_numReturn"/>
	</message>
	<message name="db_connect"/>
	<message name="db_connectResponse">
		<part name="db_connectReturn"/>
	</message>
	<message name="uploadfiles">
		<part name="csvcontent" type="xsd:string"/>
		<part name="s_logininfo" type="xsd:string"/>
	</message>
	<message name="uploadfilesResponse">
		<part name="uploadfilesReturn" type="xsd:string"/>
	</message>
	<message name="uploadfile">
		<part name="filename"/>
		<part name="additional_constraints1"/>
		<part name="p_d_ary"/>
	</message>
	<message name="uploadfileResponse"/>
	<message name="set_insertdata">
		<part name="d_ary"/>
	</message>
	<message name="set_insertdataResponse"/>
	<message name="get_id">
		<part name="strflg"/>
		<part name="p_c"/>
		<part name="p_d"/>
		<part name="p_cp"/>
		<part name="p_p"/>
	</message>
	<message name="get_idResponse">
		<part name="get_idReturn"/>
	</message>
	<message name="getCountryPrefectureName">
		<part name="p_cp_name"/>
	</message>
	<message name="getCountryPrefectureNameResponse">
		<part name="getCountryPrefectureNameReturn"/>
	</message>
	<message name="get_id2">
		<part name="strflg"/>
		<part name="p_c"/>
		<part name="p_d"/>
		<part name="p_cp"/>
		<part name="p_p"/>
	</message>
	<message name="get_id2Response">
		<part name="get_id2Return"/>
	</message>
	<message name="select_user">
		<part name="p_mno"/>
		<part name="p_userid"/>
		<part name="p_username"/>
	</message>
	<message name="select_userResponse"/>
	<message name="trimspace">
		<part name="str"/>
	</message>
	<message name="trimspaceResponse">
		<part name="trimspaceReturn"/>
	</message>
	<portType name="soap_login_image_batch_ejplPortType">
		<operation name="Chk_num">
			<input message="typens:Chk_num"/>
			<output message="typens:Chk_numResponse"/>
		</operation>
		<operation name="db_connect">
			<input message="typens:db_connect"/>
			<output message="typens:db_connectResponse"/>
		</operation>
		<operation name="uploadfiles">
			<input message="typens:uploadfiles"/>
			<output message="typens:uploadfilesResponse"/>
		</operation>
		<operation name="uploadfile">
			<input message="typens:uploadfile"/>
			<output message="typens:uploadfileResponse"/>
		</operation>
		<operation name="set_insertdata">
			<input message="typens:set_insertdata"/>
			<output message="typens:set_insertdataResponse"/>
		</operation>
		<operation name="get_id">
			<input message="typens:get_id"/>
			<output message="typens:get_idResponse"/>
		</operation>
		<operation name="getCountryPrefectureName">
			<input message="typens:getCountryPrefectureName"/>
			<output message="typens:getCountryPrefectureNameResponse"/>
		</operation>
		<operation name="get_id2">
			<input message="typens:get_id2"/>
			<output message="typens:get_id2Response"/>
		</operation>
		<operation name="select_user">
			<input message="typens:select_user"/>
			<output message="typens:select_userResponse"/>
		</operation>
		<operation name="trimspace">
			<input message="typens:trimspace"/>
			<output message="typens:trimspaceResponse"/>
		</operation>
	</portType>
	<binding name="soap_login_image_batch_ejplBinding" type="typens:soap_login_image_batch_ejplPortType">
		<soap:binding style="rpc" transport="https://schemas.xmlsoap.org/soap/http"/>
		<operation name="Chk_num">
			<soap:operation soapAction="urn:soap_login_image_batch_ejplAction"/>
			<input>
				<soap:body namespace="urn:soap_login_image_batch_ejpl" use="encoded" encodingStyle="https://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:soap_login_image_batch_ejpl" use="encoded" encodingStyle="https://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="db_connect">
			<soap:operation soapAction="urn:soap_login_image_batch_ejplAction"/>
			<input>
				<soap:body namespace="urn:soap_login_image_batch_ejpl" use="encoded" encodingStyle="https://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:soap_login_image_batch_ejpl" use="encoded" encodingStyle="https://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="uploadfiles">
			<soap:operation soapAction="urn:soap_login_image_batch_ejplAction"/>
			<input>
				<soap:body namespace="urn:soap_login_image_batch_ejpl" use="encoded" encodingStyle="https://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:soap_login_image_batch_ejpl" use="encoded" encodingStyle="https://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="uploadfile">
			<soap:operation soapAction="urn:soap_login_image_batch_ejplAction"/>
			<input>
				<soap:body namespace="urn:soap_login_image_batch_ejpl" use="encoded" encodingStyle="https://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:soap_login_image_batch_ejpl" use="encoded" encodingStyle="https://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="set_insertdata">
			<soap:operation soapAction="urn:soap_login_image_batch_ejplAction"/>
			<input>
				<soap:body namespace="urn:soap_login_image_batch_ejpl" use="encoded" encodingStyle="https://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:soap_login_image_batch_ejpl" use="encoded" encodingStyle="https://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="get_id">
			<soap:operation soapAction="urn:soap_login_image_batch_ejplAction"/>
			<input>
				<soap:body namespace="urn:soap_login_image_batch_ejpl" use="encoded" encodingStyle="https://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:soap_login_image_batch_ejpl" use="encoded" encodingStyle="https://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getCountryPrefectureName">
			<soap:operation soapAction="urn:soap_login_image_batch_limiAction"/>
			<input>
				<soap:body namespace="urn:soap_login_image_batch_limi" use="encoded" encodingStyle="https://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:soap_login_image_batch_limi" use="encoded" encodingStyle="https://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="get_id2">
			<soap:operation soapAction="urn:soap_login_image_batch_ejplAction"/>
			<input>
				<soap:body namespace="urn:soap_login_image_batch_ejpl" use="encoded" encodingStyle="https://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:soap_login_image_batch_ejpl" use="encoded" encodingStyle="https://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="trimspace">
			<soap:operation soapAction="urn:soap_login_image_batch_limiAction"/>
			<input>
				<soap:body namespace="urn:soap_login_image_batch_limi" use="encoded" encodingStyle="https://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:soap_login_image_batch_limi" use="encoded" encodingStyle="https://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="select_user">
			<soap:operation soapAction="urn:soap_login_image_batch_ejplAction"/>
			<input>
				<soap:body namespace="urn:soap_login_image_batch_ejpl" use="encoded" encodingStyle="https://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:soap_login_image_batch_ejpl" use="encoded" encodingStyle="https://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
	</binding>
	<service name="soap_login_image_batch_ejplService">
		<port name="soap_login_image_batch_ejplPort" binding="typens:soap_login_image_batch_ejplBinding">
			<soap:address location="https://x.hankyu-travel.com/photo_db/soap_login_image_batch_ejpl.php"/>
		</port>
	</service>
</definitions>
